footer {
    padding-top: 2rem;

    .footer__bg {
        background-color: $first-color-second;
        padding: 2rem 0 3rem;
    }

    .footer__container {
        row-gap: 3.5rem;

        .footer__title {
            font-size: $h1-font-size;
            margin-bottom: $mb-0-25;
        }

        .footer__subtitle {
            font-size: $small-font-size;
        }

        .footer__links {
            display: flex;
            flex-direction: column;
            row-gap: 1.5rem;

            .footer__link {

                &:hover {
                    color: $first-color-lighter;
                }
            }
        }

        .footer__social {
            font-size: 1.25rem;
            margin-right: $mb-1-5;

            &:hover {
                color: $first-color-lighter;
            }
        }

        .footer__title, .footer__subtitle, .footer__link, .footer__social {
            color: #FFF;
        }
    }
}
