.portfolio__container {
    overflow: initial;

    .portfolio__content {
        padding: 0 1.5rem;

        .portfolio__img {
            width: 265px;
            border-radius: 0.5rem;
            justify-self: center;
        }

        @media (min-width: 768px) {
            .portfolio__img {
                width: 320px;
            }
        }

        .portfolio__title {
            font-size: $h3-font-size;
            margin-bottom: $mb-0-5;
        }

        .portfolio__description {
            margin-bottom: $mb-0-75;
        }

        .portfolio__techstack--icon {
            height: 25px;
        }
    }

    .swiper-button-prev, .swiper-button-next {
        outline: none;

        .swiper-portfolio-icon {
            font-size: 2rem;
            color: $first-color;
        }

        &::after {
            content: '';
        }
    }

    .swiper-button-prev {
        left: -0.5rem
    }

    .swiper-button-next {
        right: -0.5rem
    }
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -3rem;
}

.swiper-pagination-bullet-active {
    background-color: $first-color;
}

.swiper-pagination-bullet {
    outline: none;
}
